---
import Hr from "./Hr.astro";

const currentYear = new Date().getFullYear();
---

<footer class="">
  <Hr noPadding />
  <div>
    <div>
      <span>Copyright &#169; {currentYear}</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>
