---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";
---

<div class="">
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton href={social.href} className="" title={social.linkTitle}>
        <Fragment set:html={socialIcons[social.name]} />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>
